/*body{*/
    /*background-color: #ffffff;*/
/*}*/

.center {
    text-align: center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 80%;*/
    /*background-color: #b0e0e6;*/
}

.bigger{
    font-size: 125%;
}

.slightly_bigger{
    font-size: 112%;
}

